.navigation {
    width: 1128px;
  }
  
.navigation__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.navigation__list-container {
  display: flex;
}
  
.navigation__list {
  display: flex;
  padding: 0;
  list-style: none;
}
  
.navigation__list-item {
  margin: 0 17px 0 0;
}
    
.navigation__link {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  transition: opacity .2s linear;
}
  
.navigation__link:hover {
  opacity: .6;
  cursor: pointer;
}
  
.navigation__link_type_profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 32px;
  margin: 0;
  border-radius: 20px;
  background-color: #F9F9F9;
  font-size: 14px;
}
